@charset "utf-8";

*{
    margin:0;
    padding:0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {

    font-family: "Nunito Sans", "Open Sans", Arial, sans-serif;
    background-color: #ff6cff;
    
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline:auto;
}

header {
    
    overflow: hidden;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 60px;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content {
    margin-top: 50px;
}

.counter {
    margin-top: 120px;
}

.counter p{
    font-size: 30px;
    color:#fff;
}

.result p {
    color:#fff;
    font-size: 22px;
}

header div {
    width:70%;
}

nav {
    width: 30%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav {
    text-align: 60px;
}

nav ul li a:hover {
    color:#6e817c;
    
}

nav ul li a {
    color:#000;
    padding: 0 15px;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s;
    display: inline;
}

nav ul li + li {
    margin-left: 20px;
}

.center {
    height: 50%;
}


.round-input {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 50%; /* Set border radius to 50% for full round shape */
    padding: 10px; /* Add some padding for better appearance */
    width: 200px; /* Set the width as needed */
    height: 200px;
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: #ff6cff;
}

.result {
    width: 300px;
    height: 50px;
    background-color: #930093;
    border-radius: 10px;
    margin-top: 50px;
}

.play-again {
    width: 130px;
    height: 40px;
    background-color: #fff;
    color:#ff6cff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

#error-name {
    color: #fff;
    margin-top: 10px;
    height: 10px;
}
