@charset "utf-8";

*{
    margin:0;
    padding:0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", "Open Sans", Arial, sans-serif;
    background-color: #000;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline:auto;
}

header {
    overflow: hidden;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 60px;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    margin-top: 120px;
}

.counter p{
    font-size: 30px;
    color:#ebeb00;
}

.result p {
    color:#ebeb00;
    font-size: 30px;
}

.center {
    height: 50%;
}

.content {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 18%; /* Set border radius to 50% for full round shape */
    padding: 10px; /* Add some padding for better appearance */
    width: 200px; /* Set the width as needed */
    height: 200px;
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: #000;
    border-width: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    background : rgb(0 0 0 / 0.1) url(./img/dice1.gif) no-repeat center;
}

#restart {
    display: none;
}

.content p {
    color:#000;
}

.result {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.button {
    width: 120px;
    height: 120px;
    border: 10px solid #ccc;
    background-color: rgb(211, 67, 67);
    color:yellow;
    font-size: 23px;
    font-weight: 800;
    border-radius: 50%;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: translate(0.5px, 1px);
}

